/* nav */

nav.navbar {
    margin: 0;
    padding: 0;
    background-color: #FF0000;
    width: 100%;
    flex-wrap: unset;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.container {
    width: auto;
}

img.logo {
    width: 100.2px;
    height: 60.2px;
}

div.container.buttons {
    justify-content: end;
    padding: 5px;
    width: auto;
}

div.container.buttons p {
    color: #C39678;
    background-color: #117E3F;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
}

button.btn {
    margin: 5px;
    background-color: #117E3F;
}

button.btn:hover {
    background-color: #15944a;
    color: #000000;
}

/* footer */

.fa-copyright {
    content: "\f1f9";
    padding-left: 5px;
    color: #C39678;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div a.back-circle {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #C39678;
    margin: 7px;
    background-color: #C39678;
}

div a.back-circle:hover {
    background-color: #c4b0a3;
    border: 1px solid #c4b0a3;
}

div a i.fa-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    color: #FF0000;
}