/* nav */

nav.navbar {
    margin: 0;
    padding: 0;
    background-color: #FF0000;
    width: 100%;
    flex-wrap: unset;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.container.buttons {
    justify-content: end;
    padding: 5px;
}

button.btn {
    margin: 5px;
    background-color: #117E3F;
}

button.btn:hover {
    background-color: #117E3F;
    border: 2px solid black;
    color: black;
}