/* general styles */

p {
    margin: 0;
    padding: 0;
}

/* nav */

nav.navbar {
    margin: 0;
    padding: 0;
    background-color: #ed1d23;
    width: 100%;
    flex-wrap: unset;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.container {
    width: auto;
}

img.logo {
    width: auto;
    height: 81.2px;
    margin: 5px;
}

div.container.buttons {
    justify-content: end;
    flex-direction: column;
    padding: 5px;
    width: auto;
}

button.btn {
    margin: 5px;
    background-color: #219b54;
    color: #000;
    font-weight: 600;
    text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}

button.btn:hover {
    background-color: #66c08b;
    color: #000000;
}

button.btn.nav-btn.off-btn {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

h5#offcanvashowtoplayLabel {
    text-decoration: underline;
}

/* main section home page  */

section.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/Castle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section div.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.home-title.home-head {
    margin-bottom: 15%;
    color: #000;
    text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}

h2.home-subtitle.home-head {
    margin-bottom: 30%;
    color: #000;
    text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}

/* main section game page  */

section.game-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/game-screen-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* main section contact page  */

section.contact-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/parchment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

/* footer */

.d-flex.flex-row.justify-content-around.footer-box {
    background-color: #ed1d23;
}


.fa-copyright {
    content: "\f1f9";
    margin: 5px 0;
    color: #000;
    text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}

div a.back-circle {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #C39678;
    margin: 7px;
    background-color: #C39678;
    display: flex;
    justify-content: center;
    align-items: center;
}

div a.back-circle:hover {
    background-color: #c4b0a3;
    border: 1px solid #c4b0a3;
}

div a i.fa-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    color: #FF0000;
}

/* media queries */

@media only screen and (min-width: 768px) {
    
    nav.navbar {
        justify-content: center;
    }

    div.container.buttons {
        flex-direction: row;
    }

}